.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: gainsboro;
}

a {
  color: #61dafb;
}

.Banner {
  color: #61dafb;
  margin-bottom: 5%;
}

.Footer {
  margin-top: 5%;
}